@use './partials/utilities.scss' as *;
@use './partials/variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 500;


}

a {
    text-decoration: none;
    color: unset;
}